<div class="card">
    <div class="card-header bg-dark text-light">Level 2</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level2.cshtml.</p>
        <ol>
            <li>...all teams in the Atlantic Soccer Conference</li>
            <li>...all (current) players on the Boston Penguins (Hint: Boston is the Location, Penguins is the TeamName)</li>
            <li>...all (current) players in the International Collegiate Baseball Conference</li>
            <li>...all (current) players in the American Conference of Amateur Football with last name "Lopez"</li>
            <li>...all football players</li>
            <li>...all teams with a (current) player named "Sophia"</li>
            <li>...all leagues with a (current) player named "Sophia"</li>
            <li>...everyone with the last name "Flores" who DOESN'T (currently) play for the Washington Roughriders</li>
        </ol>
        <p>Results for above queries:</p>
        <ol>
            <li>
                <ul>
                    @foreach(var t in ViewBag.ASCTeams)
                    {
                        <li>
                            @t.Location @t.TeamName
                        </li>
                    }
                </ul>
            </li>
            <li>
                <ul>
                    @foreach(var p in ViewBag.BostonPenguins)
                    {
                        <li>
                            @p.FirstName @p.LastName
                        </li>
                    }
                </ul>
            </li>
            <li>
                <ul>
                    @foreach(var p in ViewBag.ICBConferencePlayers)
                    {
                        <li>
                            @p.FirstName @p.LastName
                        </li>
                    }
                </ul>
            </li>
            <li>
                <ul>
                    @foreach(var p in ViewBag.ACAFootballPlayersLopez)
                    {
                        <li>
                            @p.FirstName @p.LastName
                        </li>
                    }
                </ul>
            </li>
            <li>
                <ul>
                    @foreach(var p in ViewBag.AllFootballPlayers)
                    {
                        <li>
                            @p.FirstName @p.LastName
                        </li>
                    }
                </ul>
            </li>
            <li>
                <ul>
                    @foreach(var t in ViewBag.TeamsWithSophia)
                    {
                        <li>
                            @t.Location @t.TeamName
                        </li>
                    }
                </ul>
            </li>
            <li>
                <ul>
                    @foreach(var l in ViewBag.LeaguesWithSophia)
                    {
                        <li>
                            @l.Name
                        </li>
                    }
                </ul>
            </li>
            <li>
                <ul>
                    @foreach(var p in ViewBag.FloresNotARoughrider)
                    {
                        <li>
                            @p.FirstName @p.LastName
                        </li>
                    }
                </ul>
            </li>
        </ol>
    </div>
</div>